body {
  background: linear-gradient(139deg,#e0dddb,#e798c2,#bce4ce,#d1c5e7);
  background-size: 440% 240%;
  /* animation: gradient-animation 20s ease infinite; */
}

/* @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */        
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
